html,
body {
    height: 100%;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(to top, #111111, #424242) fixed;
}

#nav {
    display: flex;
    box-shadow: 0px 2px 5px #000;
    justify-content: space-between;
    padding: 2em;
    background-color: #212121;
    border-radius: 0 0 10px 10px;
    color: #a901fe;
}

#main {
    color: #a901fe;
    text-decoration: none;
}

@keyframes headerAnimation{
    0%{
        background-size:450%;
    }
    100%{
        background-size:100%;
    }
}
@keyframes headerAnimation_rev{
    0%{
        background-size:100%;
    }
    100%{
        background-size:450%;
    }
}

#nav h2 {
    margin: 0;
    font-weight: normal;
    background-image: linear-gradient(
        115deg,
        #a901fe 0%,
        #a901fe 28%,
        #E4E4E4 28%,
        #E4E4E4 38%,
        #a901fe 38%,
        #a901fe 65%,
        #E4E4E4 65%,
        #E4E4E4 75%,
        #a901fe 75%,
        #a901fe 100%
    );
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: headerAnimation_rev 0.25s ease forwards;
}
#nav h2:hover{
    animation: headerAnimation 0.25s ease forwards;
}

.navlinks {
    vertical-align: middle;
    line-height: 1.5;
}

.navlinks a {
    color: #e2e2e2;
    font-size: 20px;
    text-decoration: none!important;
    margin-right: 1em;
}

.navlinks a:hover {
    color: #a901fe;
}

#content {
    color: #fff;
}

.pageheader {
    margin-bottom: 0.25em;
    animation: fadeIn ease 1s both;
    padding: 1.25em 0em;
    font-size: 32px;
}

.pageheader a {
    display: inline-block;
    padding: 0.5em;
    color: #212121;
    background-color: #a901fe;
    border-radius: 15px;
}

.pageheader a:hover {
    background-color: rgb(192, 192, 192);
    color: #111;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.email {
    color: #a901fe;
}

.datestamp {
    color: #a901fe;
}

@keyframes topFadeIn {
    0% {
        opacity: 0;
        margin-top: -5em;
    }
    100% {
        opacity: 1;
        margin-top: 0em;
    }
}
@keyframes leftFadeIn {
    0% {
        opacity: 0;
        margin-right: 5em;
    }
    100% {
        opacity: 1;
        margin-right: 0em;
    }
}
@keyframes rightFadeIn {
    0% {
        opacity: 0;
        margin-left: 5em;
    }
    100% {
        opacity: 1;
        margin-left: 0em;
    }
}
@keyframes bottomFadeIn {
    0% {
        opacity: 0;
        margin-top: 5em;
    }
    100% {
        opacity: 1;
        margin-top: 0em;
    }
}

.subcontent {
    display: block;
    padding-top: 2em;
    padding-bottom: 4em;
    text-align:center;
    border: #2B2B2B 1px;
    background-color: #2B2B2B;
}

.subcontent a {
    color: #a901fe;
    text-decoration: none!important;
}

.subcontent a:hover {
    color: rgb(192, 192, 192);
}

.centered-header {
    font-weight: 100;
    font-size: 48px;
    text-align:center;
}

@keyframes backgroundFadeIn {
    0% {
        background-size: 300%;
    }
    100% {
        background-size: 100%;
    }
}
@-webkit-keyframes backgroundFadeIn {
    0% {
        background-size: 300%;
    }
    100% {
        background-size: 100%;
    }
}
@-moz-keyframes backgroundFadeIn {
    0% {
        background-size: 300%;
    }
    100% {
        background-size: 100%;
    }
}

.main-content{
    padding-top: 8em;
    padding-bottom: 8em;
    text-align:center;
    background-position: bottom right;
    background-color: #E4E4E4;
    background-image: linear-gradient(
        125deg, 
        #E4E4E4 0%, 
        #E4E4E4 20%, 
        #A900FF 20%, 
        #A900FF 30%,
        #000000b7 30%,
        #E4E4E4 30.8%, 
        #E4E4E4 100%
    );
    color:#212121;
    animation: backgroundFadeIn 0.75s ease both;
    -webkit-animation: backgroundFadeIn 0.75s ease both;
    -moz-animation: backgroundFadeIn 0.75s ease both;
}

.main-content ul {
    list-style: none;
    font-size: 32px;
    padding-inline-start: 0;
}

.main-content li {
    padding-bottom: 0.8em;
}

.main-content a {
    color: #a901fe;
    text-decoration: none!important;
}

.main-content a:hover {
    color: rgb(192, 192, 192);
}

.list-item-1{
    animation: leftFadeIn 0.5s 0.3s ease both;
}
.list-item-2{
    animation: rightFadeIn 0.5s 0.6s ease both;
}
.list-item-3{
    animation: bottomFadeIn 0.5s 0.9s ease both;
}


#download-section{
    background-color: #15F486;
    padding: 1em;
    text-align: center;
    border: #15F486 1px;
    animation: fadeIn 0.5s ease both;
}

#download-section h3{
    margin: 0.5em;
}

@keyframes buttonHover {
    0% {
        background-color: #212121;
        padding: 0.667em 1.5em;
    }
    100% {
        background-color: #A900FF;
        padding: 0.667em 2.25em;
    }
}

@keyframes buttonHover_rev {
    0% {
        background-color: #A900FF;
        padding: 0.667em 2.25em;
    }
    100% {
        background-color: #212121;
        padding: 0.667em 1.5em;
    }
}

.clear-button{
    display: inline-block;
    padding: 0.667em 1.5em;
    text-align: center;
    background-color:#212121;
    font-size: 22px;
    color: #fff;
    text-decoration: none!important;
    animation: buttonHover_rev 0.25s ease forwards;
}

.clear-button:hover{
    animation: buttonHover 0.25s ease forwards;
}

.bottom-content{
    padding-top: 3em;
    padding-bottom: 6em;
    background-position: top left;
    text-align: center;
    background-color: #E4E4E4;
    background-image: linear-gradient(
        122deg, 
        #E4E4E4 0%, 
        #E4E4E4 68%, 
        #A900FF 68%, 
        #A900FF 80%,
        #000000b7 80%,
        #E4E4E4 80.8%, 
        #E4E4E4 100%
    );
    background-size: 500%;
    color:#212121;
}

.bottom-content.start-anim{
    animation: backgroundFadeIn 0.75s ease both;
    -webkit-animation: backgroundFadeIn 0.75s ease both;
    -moz-animation: backgroundFadeIn 0.75s ease both;
}

.bottom-content ul {
    list-style: none;
    font-size: 24px;
    padding-inline-start: 0;
}

.bottom-content li {
    padding-bottom: 0.5em;
}

.header-shadow{
    text-shadow: 3px 3px 1px #212121a6;
}
.text-shadow{
    text-shadow: 1.5px 1.5px 1px #212121cc;
}

@keyframes menuHover {
    0% {
        padding: 0.4em 6em;
    }
    100% {
        padding: 0.4em 10em;
    }
}

@keyframes menuHover_rev {
    0% {
        padding: 0.4em 10em;
    }
    100% {
        padding: 0.4em 6em;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.socials-button{
    display: inline-block;
    color: #fff;
    background-color: #0084FF;
    padding: 0.4em 6em;
    margin-block-start: 0;
    margin-block-end: 0;
    animation: menuHover_rev 0.5s ease forwards;
    text-shadow: 1.5px 1.5px 1px #212121cc;
}
.dropdown:hover .socials-button{
    animation: menuHover 0.5s ease forwards;
}

.dropdown{
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    animation: fadeOut 0.2s ease forwards;
    /*position: absolute;*/
    background-color: #0084FF;
    min-width: 120px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    text-shadow: 1.5px 1.5px 1px #212121cc;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    text-align: center;
}

.socials-dropdown{
    display: flex;
    vertical-align: middle;
}

.dropdown:hover .socials-dropdown{
    animation: fadeIn 0.5s ease forwards;
}

@keyframes socialsHover {
    0% {
        background-color: #0084FF;
    }
    100% {
        background-color: #A900FF;
    }
}

@keyframes socialsHover_rev {
    0% {
        background-color: #A900FF;
    }
    100% {
        background-color: #0084FF;
    }
}

.socials-dropdown a {
    padding: 1em 2em;
    color: #fff;
    text-decoration: none!important;
    font-size: 22px;
    flex: 1;
    animation: socialsHover_rev 0.25s ease forwards;
}



.socials-dropdown a:hover {
    animation: socialsHover 0.25s ease forwards;
}

.copyright{
    background-color:#000;
    padding: 1em;
    color: #fff;
    font-size: 14px;
}

.half-of-the-screen{
    padding-top:5%;
    padding-bottom: 30%;
}

.top-half-background{
    background-image: linear-gradient(
        42deg, 
        #E4E4E4 0%, 
        #E4E4E4 67.2%,
        #000000b7 68%, 
        #A900FF 68%, 
        #A900FF 85%,
        #E4E4E4 85%, 
        #E4E4E4 100%
    );
}

@keyframes linebreakerFadeIn{
    0%{
        padding: 3em 100em;
    }
    100%{
        padding: 3em 5em;
    }
}

.linebreaker{
    color:#fff;
    background-color: #0084FF;
    padding: 3em 5em;
    animation: linebreakerFadeIn 1s ease forwards;
}

.bottom-half-background{
    background-image: linear-gradient(
        155deg, 
        #E4E4E4 0%, 
        #E4E4E4 62%,
        #A900FF 62%, 
        #A900FF 85%,
        #000000b7 85%, 
        #E4E4E4 85.8%, 
        #E4E4E4 100%
    );
}